@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");

@layer base {
  :root {
    --background: hsla(0, 0%, 100%, 1);
    --foreground: hsla(222.2, 84%, 4.9%, 1);
    --skeleton: hsl(204, 9%, 90%);

    --card: #ffffff;
    --card-foreground: #020817;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --primary: #077844;
    --primary-foreground: #dbffee;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --success: #077844;
    --success-foreground: #dbffee;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #020817;

    --radius: 0.5rem;
    --shadow-color-small: rgba(17, 17, 26, 0.1);
    --shadow-color: rgba(17, 17, 26, 0.25);
  }

  .dark {
    --background: hsla(200, 15%, 8%, 1);
    --foreground: hsla(0, 0%, 100%, 0.87);
    --skeleton: hsl(204, 9%, 90%);

    --card: #2d3748;
    --card-foreground: #cbd5e0;

    --popover: hsla(200, 15%, 8%, 1);
    --popover-foreground: #e2e8f0;

    --primary: #077844; /* Slightly more vivid than normal mode */
    --primary-foreground: #06472881; /* Slightly more vivid than normal mode */

    --secondary: #4a5568;
    --secondary-foreground: #a0aec0;

    --muted: rgb(49, 53, 55);
    --muted-foreground: #e2e8f0;

    --accent: #1e3e2f; /* Slightly more vivid than normal mode */
    --accent-foreground: #5ac092; /* Slightly more vivid than normal mode */

    --destructive: #e53e3e; /* Vivid as normal mode */
    --destructive-foreground: #fed7d7; /* Vivid as normal mode */

    --success: #38a169; /* Vivid as normal mode */
    --success-foreground: #c6f6d5; /* Vivid as normal mode */

    --border: #4a5568;
    --input: #2d3748;
    --ring: #cbd5e0;

    --radius: 0.5rem;
    --shadow-color-small: rgba(115, 115, 115, 0.15);
    --shadow-color: rgba(115, 115, 115, 0.4);
    --tw-shadow-color: var(--shadow-color-small);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Campton";
  }
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 100px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 100px;
  transition: all 0.2 ease-in;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Shake animation */
.shake {
  animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@keyframes shake {
  10%,
  90% {
    margin-left: 1.5px;
    margin-top: 1.5px;
  }

  20%,
  80% {
    margin-right: 1.5px;
  }

  30%,
  50%,
  70% {
    margin-left: 1.5px;
  }

  40%,
  60% {
    margin-bottom: 1.5px;
  }
}
.shadow-btn {
  transition: all 0.3s ease-in-out;
}

.shadow-btn:focus {
  box-shadow: 0 0 0 3px rgb(7, 120, 68, 0.1);
  border-color: var(--primary);
}

/* Skeleton loader animation */
.skeleton {
  min-height: 20px;
  border-radius: 4px;
}

.skeleton {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

input:checked + label .check-icon {
  display: block;
}

/* clerk customization */
.cl-signIn-start,
.cl-signUp-start,
.cl-card {
  padding: 0px !important;
  margin: 0px !important;
  box-shadow: none !important;
}

/* .cl-internal-1vr2rvv, */
.cl-headerTitle,
.cl-headerSubtitle,
.cl-dividerText {
  display: none !important;
}
