@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./campton.css");

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/quicksand//Quicksand-Regular.ttf");

  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: hsla(0, 0%, 100%, 1);
    --foreground: hsla(222.2, 84%, 4.9%, 1);
    --skeleton: hsl(204, 9%, 90%);

    --card: #ffffff;
    --card-foreground: #020817;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --primary: #077844;
    --primary-foreground: #dbffee;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --success: #077844;
    --success-foreground: #dbffee;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #020817;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Campton";
  }
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 100px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 100px;
  transition: all 0.2 ease-in;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Shake animation */
.shake {
  animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@keyframes shake {
  10%,
  90% {
    margin-left: 1.5px;
    margin-top: 1.5px;
  }

  20%,
  80% {
    margin-right: 1.5px;
  }

  30%,
  50%,
  70% {
    margin-left: 1.5px;
  }

  40%,
  60% {
    margin-bottom: 1.5px;
  }
}
.shadow-btn {
  transition: all 0.3s ease-in-out;
}

.shadow-btn:focus {
  box-shadow: 0 0 0 3px rgb(7, 120, 68, 0.1);
  border-color: var(--primary);
}

/* Skeleton loader animation */
.skeleton {
  min-height: 20px;
  border-radius: 4px;
}

.skeleton {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

input:checked + label .check-icon {
  display: block;
}

/* clerk customization */
.cl-signIn-start,
.cl-signUp-start,
.cl-card {
  padding: 0px !important;
  margin: 0px !important;
  box-shadow: none !important;
}

/* .cl-internal-1vr2rvv, */
.cl-headerTitle,
.cl-headerSubtitle,
.cl-dividerText {
  display: none !important;
}
