@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");

@layer base {
  :root {
    --background: 255, 255, 255;
    --foreground: 3, 8, 22;
    --skeleton: 228, 230, 232;

    --card: 255, 255, 255;
    --card-foreground: 2, 8, 23;

    --popover: 255, 255, 255;
    --popover-foreground: 3, 8, 23;

    --primary: 7, 120, 67;
    --primary-foreground: 219, 255, 238;

    --secondary: 241, 245, 249;
    --secondary-foreground: 15, 23, 42;

    --muted: 241, 245, 249;
    --muted-foreground: 100, 116, 139;

    --accent: 241, 245, 249;
    --accent-foreground: 15, 23, 42;

    --destructive: 239, 68, 68;
    --destructive-foreground: 248, 250, 252;

    --success: 7, 120, 68;
    --success-foreground: 219, 255, 238;

    --border: 226, 232, 240;
    --input: 226, 232, 240;
    --ring: 2, 8, 23;

    --radius: 0.5rem;
    --shadow-color-small: rgba(17, 17, 26, 0.1);
    --shadow-color: rgba(17, 17, 26, 0.25);
  }

  .dark {
    --background: 18, 21, 23;
    --foreground: 227, 227, 227;
    --skeleton: 228, 230, 232;

    --card: 45, 55, 72;
    --card-foreground: 203, 213, 224;

    --popover: 18, 21, 23;
    --popover-foreground: 226, 232, 240;

    --primary: 7, 120, 68; /* Slightly more vivid than normal mode */
    --primary-foreground: 222, 251, 237; /* Slightly more vivid than normal mode */

    --secondary: 74, 85, 104;
    --secondary-foreground: 160, 174, 192;

    --muted: 49, 53, 55;
    --muted-foreground: 226, 232, 240;

    --accent: 30, 62, 47; /* Slightly more vivid than normal mode */
    --accent-foreground: 90, 192, 146; /* Slightly more vivid than normal mode */

    --destructive: 229, 62, 62; /* Vivid as normal mode */
    --destructive-foreground: 254, 215, 215; /* Vivid as normal mode */

    --success: 56, 161, 105; /* Vivid as normal mode */
    --success-foreground: 198, 246, 213; /* Vivid as normal mode */

    --border: 74, 85, 104;
    --input: 45, 55, 72;
    --ring: 203, 213, 224;

    --radius: 0.5rem;
    --shadow-color-small: rgba(115, 115, 115, 0.15);
    --shadow-color: rgba(115, 115, 115, 0.4);
    --tw-shadow-color: var(--shadow-color-small);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Campton";
  }
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 100px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 100px;
  transition: all 0.2 ease-in;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Shake animation */
.shake {
  animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@keyframes shake {
  10%,
  90% {
    margin-left: 1.5px;
    margin-top: 1.5px;
  }

  20%,
  80% {
    margin-right: 1.5px;
  }

  30%,
  50%,
  70% {
    margin-left: 1.5px;
  }

  40%,
  60% {
    margin-bottom: 1.5px;
  }
}
.shadow-btn {
  transition: all 0.3s ease-in-out;
}

.shadow-btn:focus {
  box-shadow: 0 0 0 3px rgb(7, 120, 68, 0.1);
  border-color: var(--primary);
}

/* Skeleton loader animation */
.skeleton {
  min-height: 20px;
  border-radius: 4px;
}

.skeleton {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

input:checked + label .check-icon {
  display: block;
}

/* clerk customization */
.cl-signIn-start,
.cl-signUp-start,
.cl-card {
  padding: 0px !important;
  margin: 0px !important;
  box-shadow: none !important;
}

/* .cl-internal-1vr2rvv, */
.cl-headerTitle,
.cl-headerSubtitle,
.cl-dividerText {
  display: none !important;
}
